<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
body {
  background-color: crimson;
}
    </style>
</head>
<body>
<h2><center>vj_Cars</center></h2>
<p>
    top_gear_Cars is a private company which built by 4 friends.
    we provides you better service and care on your cars that we sold out.
 A used car basically gives you a wider set of options to pick and choose from, especially when you're a beginner who is undecided about which way to go with a limited budget in hand.

</p>
</body>
</html>